Subject: $title
MIME-Version: 1.0
Content-Type: text/html
Content-Disposition: inline

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            caption {
                font-size:20px;
                font-weight:bolder;
            }
        </style>
    </head>

    <body>
        <table border="3" align="center">
            <caption>
                $title
            </caption>
            <tr bgcolor="CornflowerBlue" >
                <th>$database</th>
                <th>$yesterday</th>
                <th>$average</th>
                <th>$status</th>
                <th>$explain</th>
            </tr>
            <tr>
                <td>$cig_dw_ods_bitauto_website_d_pc</td>
                <td>$cig_dw_ods_bitauto_website_d_pc_yesterday</td>
                <td>$cig_dw_ods_bitauto_website_d_pc_average</td>
                <td>$cig_dw_ods_bitauto_website_d_pc_error</td>
                <td>$cig_dw_ods_bitauto_website_d_pc_explain</td>
            </tr>
            <tr>
                <td>$cig_dw_ods_bitauto_website_d_mobile</td>
                <td>$cig_dw_ods_bitauto_website_d_mobile_yesterday</td>
                <td>$cig_dw_ods_bitauto_website_d_mobile_average</td>
                <td>$cig_dw_ods_bitauto_website_d_mobile_error</td>
                <td>$cig_dw_ods_bitauto_website_d_mobile_explain</td>
            </tr>
            <tr>
                <td>$auto2_tool_ad_meterial_info_day</td>
                <td>$auto2_tool_ad_meterial_info_day_yesterday</td>
                <td>$auto2_tool_ad_meterial_info_day_average</td>
                <td>$auto2_tool_ad_meterial_info_day_error</td>
                <td>$auto2_tool_ad_meterial_info_day_explain</td>
            </tr>
            <tr>
                <td>$auto2_tool_ad_place_info_day</td>
                <td>$auto2_tool_ad_place_info_day_yesterday</td>
                <td>$auto2_tool_ad_place_info_day_average</td>
                <td>$auto2_tool_ad_place_info_day_error</td>
                <td>$auto2_tool_ad_place_info_day_explain</td>
            </tr>
            <tr>
                <td>$auto2_tool_model_info_day</td>
                <td>$auto2_tool_model_info_day_yesterday</td>
                <td>$auto2_tool_model_info_day_average</td>
                <td>$auto2_tool_model_info_day_error</td>
                <td>$auto2_tool_model_info_day_explain</td>
            </tr>
            <tr>
                <td>$auto2_tool_price_day</td>
                <td>$auto2_tool_price_day_yesterday</td>
                <td>$auto2_tool_price_day_average</td>
                <td>$auto2_tool_price_day_error</td>
                <td>$auto2_tool_price_day_explain</td>
            </tr>
            <tr>
                <td>$auto2_tool_style_info_day</td>
                <td>$auto2_tool_style_info_day_yesterday</td>
                <td>$auto2_tool_style_info_day_average</td>
                <td>$auto2_tool_style_info_day_error</td>
                <td>$auto2_tool_style_info_day_explain</td>
            </tr>
            <tr>
                <td>$auto2_tool_shangpainum_month</td>
                <td>$auto2_tool_shangpainum_month_yesterday</td>
                <td>$auto2_tool_shangpainum_month_average</td>
                <td>$auto2_tool_shangpainum_month_error</td>
                <td>$auto2_tool_shangpainum_month_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_bjdq_hdcarpk_d</td>
                <td>$mobile_dw_stage_mobile_bjdq_hdcarpk_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_bjdq_hdcarpk_d_average</td>
                <td>$mobile_dw_stage_mobile_bjdq_hdcarpk_d_error</td>
                <td>$mobile_dw_stage_mobile_bjdq_hdcarpk_d_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_bjdq_event_d</td>
                <td>$mobile_dw_stage_mobile_bjdq_event_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_bjdq_event_d_average</td>
                <td>$mobile_dw_stage_mobile_bjdq_event_d_error</td>
                <td>$mobile_dw_stage_mobile_bjdq_event_d_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_bjdq_start_d</td>
                <td>$mobile_dw_stage_mobile_bjdq_start_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_bjdq_start_d_average</td>
                <td>$mobile_dw_stage_mobile_bjdq_start_d_error</td>
                <td>$mobile_dw_stage_mobile_bjdq_start_d_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_bjdq_ad_d</td>
                <td>$mobile_dw_stage_mobile_bjdq_ad_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_bjdq_ad_d_average</td>
                <td>$mobile_dw_stage_mobile_bjdq_ad_d_error</td>
                <td>$mobile_dw_stage_mobile_bjdq_ad_d_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_bjdq_pv_d</td>
                <td>$mobile_dw_stage_mobile_bjdq_pv_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_bjdq_pv_d_average</td>
                <td>$mobile_dw_stage_mobile_bjdq_pv_d_error</td>
                <td>$mobile_dw_stage_mobile_bjdq_pv_d_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_bjdq_d</td>
                <td>$mobile_dw_stage_mobile_bjdq_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_bjdq_d_average</td>
                <td>$mobile_dw_stage_mobile_bjdq_d_error</td>
                <td>$mobile_dw_stage_mobile_bjdq_d_explain</td>
            </tr>
            <tr>
                <td>$leads_cookie_leads</td>
                <td>$leads_cookie_leads_yesterday</td>
                <td>$leads_cookie_leads_average</td>
                <td>$leads_cookie_leads_error</td>
                <td>$leads_cookie_leads_explain</td>
            </tr>
            <tr>
                <td>$leads_cookie_leads_mobile</td>
                <td>$leads_cookie_leads_mobile_yesterday</td>
                <td>$leads_cookie_leads_mobile_average</td>
                <td>$leads_cookie_leads_mobile_error</td>
                <td>$leads_cookie_leads_mobile_explain</td>
            </tr>
            <tr>
                <td>$leads_cookie_cookie_map</td>
                <td>$leads_cookie_cookie_map_yesterday</td>
                <td>$leads_cookie_cookie_map_average</td>
                <td>$leads_cookie_cookie_map_error</td>
                <td>$leads_cookie_cookie_map_explain</td>
            </tr>
            <tr>
                <td>$leads_cookie_cookie_merge</td>
                <td>$leads_cookie_cookie_merge_yesterday</td>
                <td>$leads_cookie_cookie_merge_average</td>
                <td>$leads_cookie_cookie_merge_error</td>
                <td>$leads_cookie_cookie_merge_explain</td>
            </tr>
            <tr>
                <td>$leads_cookie_leads_map</td>
                <td>$leads_cookie_leads_map_yesterday</td>
                <td>$leads_cookie_leads_map_average</td>
                <td>$leads_cookie_leads_map_error</td>
                <td>$leads_cookie_leads_map_explain</td>
            <tr>
                <td>$mobile_dw_stage_mobile_yiche_d</td>
                <td>$mobile_dw_stage_mobile_yiche_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_yiche_d_average</td>
                <td>$mobile_dw_stage_mobile_yiche_d_error</td>
                <td>$mobile_dw_stage_mobile_yiche_d_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_yiche_info_d</td>
                <td>$mobile_dw_stage_mobile_yiche_info_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_yiche_info_d_average</td>
                <td>$mobile_dw_stage_mobile_yiche_info_d_error</td>
                <td>$mobile_dw_stage_mobile_yiche_info_d_explain</td>
            </tr>
            <tr>
                <td>$mobile_dw_stage_mobile_yiche_type_d</td>
                <td>$mobile_dw_stage_mobile_yiche_type_d_yesterday</td>
                <td>$mobile_dw_stage_mobile_yiche_type_d_average</td>
                <td>$mobile_dw_stage_mobile_yiche_type_d_error</td>
                <td>$mobile_dw_stage_mobile_yiche_type_d_explain</td>
            </tr>
            <tr>
                <td>$usercenter_dw_stage_tags_zamplus</td>
                <td>$usercenter_dw_stage_tags_zamplus_yesterday</td>
                <td>$usercenter_dw_stage_tags_zamplus_average</td>
                <td>$usercenter_dw_stage_tags_zamplus_error</td>
                <td>$usercenter_dw_stage_tags_zamplus_explain</td>
            </tr>
        </table>

        <table border="3" align="center" width="100%" style="table-layout:fixed;word-break:break-all" >
            <caption>
                $title_week
            </caption>
            <tr bgcolor="CornflowerBlue">
                <th style="word-break: keep-all">date</th>
                <th>$none_data_table</th>
                <th>$error_data_table</th>
            </tr>
            <tr>
                <td width="70" style="word-break: keep-all">$current_month_1date</td>
                <td>$none_table_1date</td>
                <td>$error_table_1date</td>
            </tr>
            <tr>
                <td style="word-break: keep-all">$current_month_2date</td>
                <td>$none_table_2date</td>
                <td>$error_table_2date</td>
            </tr>
            <tr>
                <td style="word-break: keep-all">$current_month_3date</td>
                <td>$none_table_3date</td>
                <td>$error_table_3date</td>
            </tr>
            <tr>
                <td style="word-break: keep-all">$current_month_4date</td>
                <td>$none_table_4date</td>
                <td>$error_table_4date</td>
            </tr>
            <tr>
                <td style="word-break: keep-all">$current_month_5date</td>
                <td>$none_table_5date</td>
                <td>$error_table_5date</td>
            </tr>
            <tr>
                <td style="word-break: keep-all">$current_month_6date</td>
                <td>$none_table_6date</td>
                <td>$error_table_6date</td>
            </tr>
            <tr>
                <td style="word-break: keep-all">$current_month_7date</td>
                <td>$none_table_7date</td>
                <td>$error_table_7date</td>
            </tr>
        </table>
        <table border="3" align="center" width="100%" style="table-layout:fixed;word-break:break-all" >
            <caption bgcolor="CornflowerBlue">
                $title_month
            </caption>
            <tr bgcolor="CornflowerBlue">
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
            </tr>
            <tr>
                <td>$month_date1</td>
                <td>$month_date2</td>
                <td>$month_date3</td>
                <td>$month_date4</td>
                <td>$month_date5</td>
                <td>$month_date6</td>
                <td>$month_date7</td>
            </tr>
            <tr>
                <td>$month_date8</td>
                <td>$month_date9</td>
                <td>$month_date10</td>
                <td>$month_date11</td>
                <td>$month_date12</td>
                <td>$month_date13</td>
                <td>$month_date14</td>
            </tr>
            <tr>
                <td>$month_date15</td>
                <td>$month_date16</td>
                <td>$month_date17</td>
                <td>$month_date18</td>
                <td>$month_date19</td>
                <td>$month_date20</td>
                <td>$month_date21</td>
            </tr>
            <tr>
                <td>$month_date22</td>
                <td>$month_date23</td>
                <td>$month_date24</td>
                <td>$month_date25</td>
                <td>$month_date26</td>
                <td>$month_date27</td>
                <td>$month_date28</td>
            </tr>
            <tr>
                <td>$month_date29</td>
                <td>$month_date30</td>
                <td>$month_date31</td>
                <td>$month_date32</td>
                <td>$month_date33</td>
                <td>$month_date34</td>
                <td>$month_date35</td>
            </tr>
        </table>
    </body>
</html>
